@import '@/variables.scss';
@import '@/mixins.scss';

.calendar {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 30px;
  padding-right: 0;
}

.calendar__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.59375px;
  color: #6B7897;
  padding-right: 30px;
}

.calendar__body {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 16px;
}

.calendar__header {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__cell {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7C86A2;

  &_header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(52, 72, 94, 0.536062);
  }
}

.calendar__day {
  @include button-reset;

  &_active {
    position: relative;
    color: white;

    &:focus {
      outline: none;
    }

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 32px;
      height: 32px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: linear-gradient(0deg, #7ED5FC 0%, #90D9FA 100%);
      z-index: -1;
    }
  }

  &_busy:not(.calendar__day_active) {
    color: #AA3434;
  }
}
